@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang thống kê</h2>
<hr />

<h3><a href="/ThongKe/ConVaMuon">Số lượng sách còn và đã mượn</a></h3>
<h3><a href="/ThongKe/TuNgayDenNgay">Thống kê sách mượn trả trong khoảng thời gian</a></h3>
<h3><a href="/ThongKe/TheoNamXuatBan">Thống kê sách dựa vào năm xuất bản</a></h3>
<h3><a href="/ThongKe/TheoSoTrang">Thống kê sách dựa vào số trang</a></h3>
<h3><a href="/ThongKe/TheoNhaCungCap">Thống kê sách theo nhà cung cấp</a></h3>
<h3><a href="/ThongKe/DocGia">Thống kê độc giả</a></h3>
<h3><a href="/ThongKe/XemTrangThai">Xem trạng thái của 1 quyển sách</a></h3>