@model CoHoiCuoiCung.Models.QUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUYEN</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_QUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_QUYEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_QUYEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
