
@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Thông tin nhân viên</h3>

<label>Tên nhân viên:</label> @ViewData["tenNhanVien"] <br />
<label>Số điện thoại:</label> @ViewData["sdtNhanVien"] <br />
<label>Địa chỉ:</label> @ViewData["diaChiNhanVien"] <br />

