@model CoHoiCuoiCung.Models.KE_SACH

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết kệ sách</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Tên kệ sách
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_KE_SACH)
        </dd>

        <dt>
            Khu vực
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHU_VUC.TEN_KHU_VUC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MA_KE_SACH }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
