
@{
    ViewBag.Title = "Mượn trả sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mượn trả sách</h2>

<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
        <div class="inner">
            <h3><br /></h3>
            <p><br /></p>
        </div>
        <div class="icon">
            <i class="ion ion-minus-circled"></i>
        </div>
        <a class="small-box-footer" href="/MuonTraSach/TimDocGia">Trang mượn sách</a>
    </div>
</div>
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
        <div class="inner">
            <h3><br /></h3>
            <p><br /></p>
        </div>
        <div class="icon">
            <i class="ion ion-plus-circled"></i>
        </div>
        <a class="small-box-footer" href="/MuonTraSach/TraSach">Trang trả sách</a>
    </div>
</div>
