@model CoHoiCuoiCung.Models.NHA_CUNG_CAP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NHA_CUNG_CAP</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_NCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_NCC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MA_NCC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
